node_modules/
.expo/
.expo-shared/
dist/
web-build/

.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
*.orig.*

android/
ios/

google-services.json
GoogleService-Info.plist
